img {
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}

.ml-minus-1 {
    margin-left: -1px;
}

.font-SquadaOne {
    font-family: 'Squada One';
}

.font-Noto {
    font-family: 'Noto Sans TC';
}

.font-PaytoneOne {
    font-family: 'Paytone One';
}